<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EXAppExtensionAttributes</key>
	<dict>
		<key>FSActivateOptionSyntax</key>
		<dict>
			<key>shortOptions</key>
			<string>u:g:m:o:</string>
		</dict>
		<key>FSSupportsBlockResources</key>
		<true/>
		<key>FSSupportsPathURLs</key>
		<false/>
		<key>EXExtensionPointIdentifier</key>
		<string>com.apple.fskit.fsmodule</string>
		<key>EXExtensionPrincipalClass</key>
		<string>$(PRODUCT_MODULE_NAME).MyFSExtension</string>
		<key>FSShortName</key>
		<string>MyFS</string>
		<key>FSSupportsServerURLs</key>
		<false/>
	</dict>
</dict>
</plist>
